<div class="row">
  <h1 class="center">Edit car Details</h1>
  <div class="col s8 offset-s2">
    <form action="/cars/{{car.id}}?_method=PUT" method="post">
      <input type="hidden" value="PUT" name="_method">
      <div class="row" id="gamediv1">
        {{#each car.images}}
        <div class="col s12 m2">
          <img src="{{imagePath}}" width="100px">
          <input type="checkbox" id={{imageName}} name="imagestokeep" checked="checked" value={{imageName}}>
          <label for={{imageName}}></label>
        </div>
        {{/each}}
      </div>

      <div class="row">
        <div class="input-field ">
          <input type="text" name="price" value="{{car.price}}" required>
          <label for=" price">Price</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field ">
          <input type="text" name="title" value="{{car.title}}" required>
          <label for="title">Title</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <input type="text" name="mileage_city" value={{car.mileage_city}}>
          <label for="mileage_city">Mileage City</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <input type="text" name="mileage_hwy" value="{{car.mileage_hwy}}">
          <label for="mileage_hwy">Mileage Hwy</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <input type="text" name="style" value="{{car.style}}">
          <label for="style">Style</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <input type="text" name="engine" value="{{car.engine}}">
          <label for=" engine">Engine</label>
        </div>
      </div>



      <div class="row">
        <div class="input-field ">
          <input type="text" name="fuel" value="{{car.fuel}}" required>
          <label for="fuel">Fuel Type</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field ">
          <input type="text" name="drivetrain" value="{{car.drivetrain}}" required>
          <label for="drivetrain">Drive train(Auto/Manual)</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field ">
          <input type="number" name="current_mileage" value="{{car.current_mileage}}" required>
          <label for="current_mileage">Current Mileage</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field ">
          <input type="text" name="exterior_color" value="{{car.exterior_color}}" required>
          <label for="exterior_color">Exterior Color</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field ">
          <input type="text" name="interior_color" value="{{car.interior_color}}" required>
          <label for="interior_color">Interior Color</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field ">
          <input type="text" name="interior_fabric" value="{{car.interior_fabric}}" required>
          <label for="interior_fabric">Interior fabric</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <h5>Notes from Seller:</h5>
          <textarea name="body" required>{{car.body}}</textarea>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" id="images" name="images" onclick="getSign()" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files">
          </div>
          <div class="row" id="gamediv">
            {{!-- <img id="preview" src="/images/default.png" width="100px"> --}}
          </div>

        </div>
      </div>

      <div class=" row">
        <div class="input-field left align">
          <input type="submit" value="Save" class="btn">
        </div>
      </div>
    </form>
  </div>
</div>